.container {
    padding: 20px;
    margin: 100px auto 0 auto;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
    height: 100vh;
}

.column {
    flex: 1 1 48%;
    margin-bottom: 30px;
}

.contactFormWrapper {
    width: 100%;
}

.contactFormWrapper h4 {
    margin-bottom: 20px;
}

.form {
    width: 100%;
}

.formField {
    margin-bottom: 20px;
    margin-top: 30px;
    position: relative;

}

.formField label {
    display: block;
    margin-bottom: 5px;
    background: #10121b;
    font-size: .94rem;
    left: 15px;
    font-weight: lighter;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: -13px;
    transition: all .4s ease-out;
}

.formField input,
.formField textarea {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background: none;
}

.formField textarea {
    resize: vertical;
}


.button {
    background: #037fff;
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: .9rem;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    transition: all .4s ease-out;
    z-index: 1;
}

.button:hover {
    background-color: #333;
}

.contactInfo {

}

.contactInfoBlock {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #191d2b;
    margin-top: 30px;
    padding: 30px;
}

.contactInfoIcon {
    border: 1px solid #2e344e;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-right: 20px;
    max-width: 70px;
    text-align: center;
    width: 70px;
    position: relative;
    top: 0;
    left: 0;
}

.contactInfoIcon svg {
    height: 30px;
    width: 30px;
    display: block;
    margin: auto 0;
}

.contactInfoContent h6 {
    margin: 0 0 5px 0;
    font-size: 1em;
    color: #fff;
}

.contactInfoContent p {
    margin: 0;
}

.contactInfoContent a {
    color: #fff;
    text-decoration: none;
}

.contactInfoContent a:hover {
    text-decoration: underline;
}

.column:first-child {
    margin-right: 35px;
}

@media (max-width: 1270px) {
    .column {
        flex: 1 1 50%;
        margin-right: 35px;
    }
}

@media (max-width: 900px) {
    .container {
        margin-top: 40px;
    }
    .column {
        margin: 0;
    }
    .column:first-child {
        margin: 0;
    }
    .row {
        height: auto;
        flex-direction: column;
    }

    .contactInfoBlock {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }
    .contactInfoIcon {
        margin-right: 0;
    }
}