@font-face {
    font-family: Nunito;
    font-display: swap;
    src: url("../../../public/fonts/Nunito-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Nunito;
    font-display: swap;
    src: url("../../../public/fonts/Nunito-ExtraBold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}