.wrapper {
    display: flex;
    width: 100%;
    overflow: clip;
    flex-wrap: nowrap;
    z-index: 10;
}

.page {
    display: flex;
    overflow: clip auto;
    overscroll-behavior: contain;
    scrollbar-gutter: auto;
    gap: 20px;
    flex: 1 1 auto;
    flex-direction: column;

}

.content {
    max-height: 100dvh;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 50px;
}

@media (max-width: 750px) {
    .content {
        padding: 0 15px 50px 15px;
    }

}

