.container {
    margin-top: 100px;
    transition: all .4s ease-out;
    flex: 1 1 32%;
    max-width: var(--bs-content-max-width);
    overflow: hidden;
    min-width: 100%;
    padding: 0 50px;
}

.content {
    align-items: center;
    display: flex;
    position: relative;
    gap: 30px;
    min-width: 100%;
}

