.wrapper {
    margin-top: 100px;
}

.cardsWrapper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

@media (max-width: 900px) {
    .wrapper {
        margin-top: 40px;
    }
}